{% extends 'common/base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>
        {% blocktrans with name=category.name %}Are you sure you want delete category {{ name }}{% endblocktrans %}
    </h1>
    <div class="d-none d-lg-block d-xl-block">
        {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger" %}
        <a href="{% url 'common:index' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
    </div>
    <div class="d-lg-none d-xl-none">
        {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger btn-lg btn-block" %}
        <a href="{% url 'common:index' %}" class="btn btn-light btn-lg btn-block">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
