{% extends 'common/base.html' %}

{% load i18n %}

{% block bootstrap4_content %}
{% if request.user.is_superuser %}
<div class="row">
    <div class="col p-5">
        <a href="{% url 'common:create_category' %}" class="btn btn-primary">{% trans 'Create category' %}</a>

    </div>
</div>
{% endif %}
<div class="row">
    <div class="col pl-5 pt-5">
        <div class="card">
            <ul class="list-group list-group-flush">
            {% if object_list %}
                {% for category in object_list %}
                    <li class="list-group-item"><a href="{% url 'common:topics' category.pk %}">{{ category.name }}</a>
                        {% if request.user.is_superuser %}
                        <div class="float-right">
                            <a href="{% url 'common:update_category' category.pk %}" class="btn btn-primary">{% trans 'Update category' %}</a>
                            <a href="{% url 'common:delete_category' category.pk %}" class="btn btn-primary">{% trans 'Delete category' %}</a>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
              <li class="list-group-item">{% trans 'No categories' %}</li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
